:root {
  /* colors */
  --smooth-black: #1d1d1d;
  --strong-blue: #394867;
  --light-blue: #8593ad;
  --button-primary: #14274e;
  --button-primary-shadow: #091122;
  --button-remove: #8c2424;
  --button-remove-shadow: #481111;
  --button-expired: #848484;
  --white-smoke: #f1f6f9;

  /* toast colors */
  --toast-success: #4ba256;
  --toast-danger: #c64242;
  --toast-info: #3eabc6;
  --toast-warning: #de954b;
  /* fonts */
  --font-bitter: "Bitter";

  /* metrics */
  --padding-header: 110px;
}
